<!DOCTYPE html>
<html>
   <body>
           <link rel="stylesheet" href="/css/404.css">  
                      {{>header}}

                  <Title>404</Title>
       
           <div class="container">
           <div class="row"
            <div class="col-12"
     
    
        
         

        <p class="text p-5" >{{errorMessage}}</p>

                    
                <h1>Error 404 : Page not found</h1> 
</div>

        

            
    </body>

</html>