<!DOCTYPE html>

<html lang="en">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale=1, shrink-to-fit=no">   
 <!--    <link rel="stylesheet" href="/css/compliance.css"> -->
     <link rel="stylesheet" href="/css/styles.css">  
  <!--  <script src="../public/js/form.js"></script>
    <link rel="stylesheet" href="/css/form.css" > -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">

  
 <!-- <meta name="viewport" content="width=device-width, initial-scale=1">-->
    
  <!---<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

      
  <title>Fed Compliance </title>  

</head>

<body>
 <header>

<nav class="navbar fixed-top navbar-expand-xl bg-dark navbar-dark justify-content-end ">
    <a class="navbar-brand" href="/">Home</a>
    <a href="/MerchantRegisterForm"> <button class="btn btn-success ml-auto mr-1" >Sign Up</button> </a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav text-right">
            <li class="nav-item active">
                <a class="nav-link" href="/Login">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/partners">Partner</a>
            </li>    
            <li class="nav-item active">
                <a class="nav-link" href="/clients">Clients</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/help">Help</a>
            </li>
            </li>
        </ul>
    </div> 
</nav>
           
    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++ Navabar End++++++++++++++++++-->
             
          

<style>
body {
  background: lightblue;
}

.content {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 10px;
}
</style>
</header>

<!--++++++++++++++++++++++++++++++++++++++++++++++++++++ container ++++++++++++++++++++++++++++++++++-->
</head>
<h1><p class="text-center">Features and Benefits</p></h1> 

<div class="container">

<div class="content"> <br>
    <img alt="" src="../img/chartbar.png" class="card-img-top" />
  
  <!--are wider than 800 pixels.</h1>
  <h1>Resize the browser window to see the effect.</h1>
  <p>This page is always centered on screens that are wider than 500px. On screens that are less than 
  500px wide, it will span the whole of the page.</p>-->
  <p class="text-justify", "text-sm-center" > The <b>combination of an authorization platform (frontend) and settlement platform (backend)</b> is essential to complete all aspects electronic transaction or physical check processing.
Authorization platform refers to verification and sending authorization request to customers. 
Settlement platform refers to the settling of transaction batch(s) in order to distribute funds.
Settlement   includes: funding to the merchant, debt clearing house, chargebacks and retrievals, merchant statements.
Merchants need to make sure that check drafts are duly authorized and consumers are identified in a commercially reasonable manner.
    </P>
          <p> 
              <b>
                  The general process for this service is:
              </b>
              <ul class="list-group mb-n5">
                  <li class="list-group-item"><b>Step 1</b>:  Customers select products and add them to merchant's shopping cart.</li>
                  <li class="list-group-item"><b>Step 2</b>:  Customers proceed to the checkout page.</li> 
                  <li class="list-group-item"><b>Step 3</b>:  Customers register or login to their account.</li>
                  <li class="list-group-item"><b>Step 4</b>:  Customers enter or confirm their personal details including:
            
                                                              
                <ul style="list-style:square; padding-left:5rem;">
                      <li>Debit your customers' checking accounts.</li>
                      <li>Accept payments by phone (MOTO), online, (API) or in person (Virtual Terminal).</li>
                      <li>Set up recurring billing to automatically debit customers' checking accounts.</li>
                  </li>   
                </ul>
            </ul>
                </p>


             <img alt="" src="../img/compliancelogo2.png" class="card-img-bottom"> .</p>
  
</div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>





{{>footer}}                     
       
    </body>  


</html>

