<!DOCTYPE html>
  <html lang="en">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale=1, shrink-to-fit=no">   
      

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
     <link rel="stylesheet" href="/css/styles.css">  
    <script src="../public/js/form.js"></script>
    <link rel="stylesheet" href="/css/form.css" > 
  
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1">-->    
  <!---<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

      
  <title>Clients</title>  

</head>

<body>
 <header>

<nav class="navbar fixed-top navbar-expand-xl bg-dark navbar-dark justify-content-end ">
    <a class="navbar-brand" href="/">Home</a>
    <a href="/merchantregisterform"> <button class="btn btn-success ml-auto mr-1" >Sign Up</button> </a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav text-right">
            <li class="nav-item active">
                <a class="nav-link" href="/Login">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/help">eSupport</a>
            </li>    
            <li class="nav-item active">
                <a class="nav-link" href="/partners">Partners</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/about">About</a>
            </li>
            </li>
        </ul>
    </div>
</nav>
 

 <style>
            body  {
                   background-image: url("../img/computer-pen.png");                       
                   
                   background-repeat: no-repeat;
                   background-size:  100% auto;
                  }
         </style> 

</header>
<!--################################## Column Nest ##################-->


<div class="container-fluid">
  <h2></h2> 
  <br/>
  <H5><p class = "text-white">Clients Account</p></H5> 
</div>
<!--+++++++++++++++++++++++++++++++++++++++Col-8 ++++++++++++++++++++++-->
<div class="container-fluid">
  <div class="row">
    <div class="col-8 bg-info">
       
         <p>   </p> 
      <hr/>    
 <!--++++++++++++++++++++++++++++++++++++++++col-4++++++++++++++++++++++-->           
      <div class="row">
        <div class="col-4 bg-transparent" align="center">
          
          <h4><b>What is Client Account?</b></h4>
         <br>
    <!--     <img src="../img/StopFroud.png"  alt="..." class="img-thumbnail" > -->
        </div>
        </div>
 <!--+++++++++++++++++++++++++++++++++++++col-sm-7++++++++++++++++++++++-->
                    <div class="row" style="margin-bottom:1em;">
                        <div class="col-sm-7">
                                       <p>
                                            <b>
                                                 <i>A Client Account enables you to:</i>
                                            </b>
                                            
                                                 <br /><br />
                                                        <ul style="list-style:dot; padding-left:1rem;">
                                                            <li>Debit your customers' checking accounts.</li>
                                                            <li>Accept payments by phone (MOTO), online, (API) or in person (Virtual Terminal).</li>
                                                            <li>Set up recurring billing to automatically debit customers' checking accounts.</li>
                                                        </ul>
                                                    </p>
                                                </div>
                                                
                                                
                                               
                                                <div class="col-sm-7">
                                                    <p>
                                                        <b><i>2 Ways To Input Transactions:</i></b>
                                                        <br /><br />
                                                        <ul style="list-style:dot; padding-left:1rem;">
                                                            <li>Virtual Terminal</li>
                                                            <li>Application Program Interface (API).</li>
                                                        </ul>
                                                    </p>
                                                </div>
                                             </div>
  <!--*********************************************************** Nested *********************************************-->
        <div class="col-6 bg-light border rounded border-dark">
         <div  class="p-3 mb-2"> 
         <p> 
           EZ-Data Clients Account programs and Data Processing solutions are simple and easy to use. <br/>Utilizing the most advanced technology,
           they are capable of addressing your ever growing business needs. We offer Clients Account and other account services xfor all businesses including retail, wholesale, internet, mail order, phone order, and etc...
         </p>  
       </div>
      </div>
      </div>
    <!--.....................................................................Green zone .................................-->
   
    <div class="col-4 bg-success">
      <div class="row" style="margin-top:1em;"> 
        <!-- <div class="col-sm-12 " ></div>-->
              <div  class="col-xs-12 col-xs-12 " style="margin-bottom:1em;" >
                                       
                    <div class="card">
                       <div  class="card-title text-center""> <b>1800-888-8888</b>
                           <img  src="../img/CustomerServiceDiv.png" class="card-img-top" alt="Card Image Cap">
                           <div class="card-body text-left" >
                                                
                             <div class="card-text">
                                                    <p <i>Its easy to be approved!</span>
                                                    Simply fill out our online application and one of our customer representatives will contact you as soon as possible.</i>
                                                    </p>
                                              
                                    
                                <div class="col-sm-12">
                                                    <p>
                                                        <b><i>Requirements:</i></b>
                                                        <br /><br />
                                                        <ul style="list-style:dot;padding-left:1rem;">
                                                            <li>Valid Photo ID (Driver's Licence, Passport, or any Government issued Photo ID)</li>
                                                            <li>Two Most Recent Utility Bills</li>
                                                            <li>Business License</li>
                                                            <li>Toll Free Number</li>
                                                            <li>Processing History Statements (Optional)</li>
                                                        </ul>
                                                    </p>
               </div>
             </div>
           </div>
         </div>    
       </div>
     </div>
    </div>
   </div>
  </div>
</div>


            
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>       
          
           {{>footer}}

    </body>

</html>