<!DOCTYPE html>
<body>
  {{>header}}
             

</header>

<link rel="stylesheet" href="/css/compliance.css"> 
<title>Fed Compliance </title>  

<!--++++++++++++++++++++++++++++++++++++++++++++++++++++ container ++++++++++++++++++++++++++++++++++-->


    


<div class="container"
<div class = "row">
<div class="col-10">       
    <h1><p class="text-center">PCI (Payment Card or Check Industry) Security Standards complianced</p></h1> 


    <IMG class="displayed" alt="FedCompliance" src="../img/FedCompliance.png"  style="width:40%"/>

 
   <p class="text-left bg-white border border-danger m-3"> <b>Data hosting and processing must be meet PCI (Payment Card or Check Industry) Security Standards.
The PCI Data Security Standard (PCI-DSS) represents a common set of industry tools and measurements to help ensure the safe handling of sensitive information. 
The PCI DSS was created by the major bank, the credit card, the processor, as a guideline to help businesses implement the necessary hardware, software and other procedures to guard sensitive checks, bank and personal information. There are many aspects to compliance including: management, policies, procedures, network architecture, software design and other critical protective measures.  All organizations who hanle payment are obligated to comply with the PCI DSS. The Compliance be aware is growing problems of fraud losses, mis-represent, loss of consumer confidence, brand & reputation damage, legislature interest.

Our definition of integrity is acting in accordance with our values of honesty and fairness- responsibly, excellently and innovatively wherever we do business. A key element of integrity is compliance, a strict adherence to the law and to our own internal regulations to meet PCI Data security stardard (PCI-DDS). 

Our PCI-DSS Compliance System is secure and accuracy which divided into three action levels: Prevent, Detect and Respond. We protect your sensitive payment information.  This diligent methodical process leaves nothing to chance, and ensures absolute compliance to laws and regulations externally and internally. 

Merchants who fail to become PCI compliant could be putting their businesses at greater risk from the growing threat of payment processing. Effective, heads up risk management is critical to ensuring compliance with consumer protection laws and regulations. It has gained greater importance in the advent of new technologies, dynamic product innovation, and the ever changing size and speed of transactions in the financial services market. 

Substantial penalties (fines), fraud and chargebacks, as well as legal cost and customers is the increasing possibility that US businesses, no matter how small, will have foreign suppliers or clients, makes it imperative for them to understand the Office of Foreign Asset Control compliance. Businesses are responsible for following OFAC regulations which are designed to halt terrorist and other unlawful funds circulation. 
  
</b> </p>
             <img class="displayed" alt="FedTreasury" src="../img/FedTreasurysm.png" style="width:40%" > 


 <div class="col-4">     
</div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>





{{>footer}}                     
       
    </body>
</html>