<!DOCTYPE html>
  <html lang="en">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale=1, shrink-to-fit=no">   
      

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
     <link rel="stylesheet" href="/css/help.css">  
    <script src="../public/js/form.js"></script>
    <link rel="stylesheet" href="/css/form.css" > 
  
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1">-->    
  <!---<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

      
  <title>Help</title>  

</head>

<body>
 <header>

<nav class="navbar fixed-top navbar-expand-xl bg-dark navbar-dark justify-content-end ">
    <a class="navbar-brand" href="/">Home</a>
    <a href="/MerchantRegisterForm"> <button class="btn btn-success ml-auto mr-1" >Sign Up</button> </a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav text-right">
            <li class="nav-item active">
                <a class="nav-link" href="/Login">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/partners">Partner</a>
            </li>    
            <li class="nav-item active">
                <a class="nav-link" href="/clients">Clients</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/about">About</a>
            </li>
            </li>
        </ul>
    </div>
</nav>
           
<!--++++++++++++++++++++++++++++++++++Navabar end+++++++++++++++++++++++++++++-->

           
   
           
  
</header>
             
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
 
        
  <div class = "container " > 

    <h3 class ="mt-5"> {{helpText}} </h3> <!--Email Assistance -->

     <img class="mt-5 ml-3" src="../img/gmail_largelogo.jpg" style="margin-left:1px; width:200px;display:block" />
    
   <!--  <h4>Need some help ? Have a question or comment ? E-mail us !</h4> -->
<!--+++++++++++++++++++++++++++++++++++++form+++++++++++++++++++++++++++++++++++++-->
<div class="col ml-5>

<form> 
     <div class="row">
     <div class="col-md-6 col-md-offset-3" id="form_container"> <!--light block area -->
       
        <p>
           Please send your message below. We will get back to you at the earliest!
        </p>
        
        <form role="form" method="post" id="reused_form">

      <div class="row">     
     </div>
       
 
     <div class="form-row"> 

    <div class="form-group col-md-6">
      <label for = "inputFirstName">First Name</label> 
      <input type="text" class="form-control" placeholder="First name">
    </div>  

    <div class="form-group col-md-6">
      <label for = "inputFirstName">Last Name</label> 
      <input type="text" class="form-control" placeholder="Last name">
    </div>

  

    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      <small class ="form-text text-muted">Your email will not ever be shared!!</small>
    </div>
    
    <div class="form-group col-md-6">
      <label for="inputPhoneNumber">Phone Number</label>
      <input type="tel" class="form-control" id="inputPhoneNumber" placeholder="Telephone Number">
    </div>
  </div>
  <!---========================================== message box =================================-->
  <form role="form" method="post" id="reused_form">
                        <div class="form-row">
                            <div class="col-sm-12 form-group">
                                <label for="message"> Message:</label>
                                <textarea class="form-control" type="textarea" name="message" id="message" maxlength="6000" rows="7"></textarea>
                            </div>
                        </div>

  <button type="submit" class="btn btn-primary">Send</button>
  
</form>
<div id="success_message" style="width:100%; height:100%; display:none; "> <h3>Posted your message successfully!</h3> </div>
                    <div id="error_message" style="width:100%; height:100%; display:none; "> <h3>Error</h3> Sorry there was an error sending your form. </div>
                </div>
            </div>
        </div>
        </div>
  

           
           {{>footer}}

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

</body>

</html>