<!DOCTYPE html>
<html lang="en">
    <html>
    <head>

           <title>Home</title>
           <link rel="stylesheet" href="/css/styles.css">  
            <script src="../public/js/form.js"></script>
            <link rel="stylesheet" href="/css/form.css" >
    </head>
     <body>
                        <div>   {{>header}}     </div>
            <div> 
                <h2>
               <style>
                      h2 {  
                                                       
                             position: absolute;
                             left:450px;
                             top:10px
                                
                                }
               </style>
                </h2>  
          </div>
      </body>
 <head>
              
<head>
  <title>ChecksDigit</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
                         
</head>
                  
<body>
 <style>
            body  {
                   background-image: url("../img/vpn-net6.png");                       
                   background-color: #cccccc;
                   background-repeat: no-repeat;
                   background-size:  100% auto;
                  }
         </style> 
<div class="jumbotron text-center">
  <h2></h2> 
  <p>1-800-888-8888  <a href="/MerchantRegisterForm" class="btn btn-primary stretched-link">Sign Up Today !</a></p> 
</div> 


 <section class="play creative_feature_area">
    <div class="container-fluid", style="margin-top:auto">
    
<div class="row">
    <div class="col-sm-6" style="text-align:left">
         
    <!--####################### Card Deck ##############################-->       
            <div class="card-deck"> 
              <!--=======================Solutions card===============-->
              <div class="card" > 
             <img class ="card-img-top" src="../img/technologyservices.jpg" alt ="Card image Cap">
              <div class="card-body"  "tex-left">
              <h5 class="card-title"><b>EZ Data Solutions</b></h5>
              <div class="card bg-primary text-white"></div>
             <p class="card-text"> ChecksDigit Members Account Program and Data Processing Solutions are easy to use and 
          with the most advanced technology, are enough to handle the needs of your business. <a class="more_btn" href="../clients">Get Start</a>
     </p> <hr>
             </div>
             </div>  
         
    
<!--##############################Partners card ############################-->
 <div class="card">
    <img class="card-img-top" src="../img/meeting.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><b>3 Ways to Make Money</b></h5>
      <div class="card bg-primary text-white"></div>
      <p class="card-text">There are three ways in making money with us; One is to use our Solutions as members do. 
      Two is to become a Partner.Three is as an Aggregator utilizing our secure payment portal. <a class="more_btn" href="../partners">Get Start</a>.
      </p> <hr>
     </div>
     </div>
  <!--############################ Compliance card ##################################-->
<div class="card">
    <img class="card-img-top" src="../img/CustomerService.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><b>Compliance</h5></b>
      <div class="card bg-primary text-white"></div>
      <p class="card-text">Our Compliance System is divided into three action levels: Prevent, Detect, and Respond. <a class="more_btn" href="../securitycenter">Learn More</a> </p>
      <hr>
</div>
</div>
  <!--  <div class="col-sm-2" >       
        <div class="c_box_item" style="text-align:left">   
         <!--  <div class="c_box_item" style="text-align:center"> -->
          <!--<h3>Security </h3> </div>
      <img src="../img/CustomerService.jpg" style="margin:auto; width:430px;display:block" /> 
      <div class="col-sm-12 text-left" style="padding-top:0em;"></div>
                                    <ul style="list-style:dot">
                                        <li>Increased Sales</li>
                                        <li>Reduced Fraud</li>
                                        <li>Heightened Security</li>
                                        <li>Safe, Smart & Simple</li>
                                    </ul>  
       </div>  
      <p style="text-align:justify" >
        <b>Our Compliance System is divided into three action levels: Prevent, Detect, and Respond. <a class="more_btn" href="../securitycenter">Learn More</a> </b>
      </p>      
    </div>
  </div>
</div>
</div>-->
</div>
</section> 
</body>
</html>
              {{>footer}}