<!DOCTYPE html>
<html lang="en">
    <html>
    <head>

           <title>Home</title>
           <link rel="stylesheet" href="/css/styles.css">  
            <script src="../public/js/form.js"></script>
            <link rel="stylesheet" href="/css/form.css" >
    </head>
     <body>
                        <div>   {{>header}}     </div>
            <div> 
                <h2>
               <style>
                      h2 {  
                                                       
                             position: absolute;
                             left:1150px;
                             top:10px
                                
                                }
               </style>
                </h2>  
          </div>
      </body>
 <head>
              
<head>
  <title>ChecksDigit</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
                         
</head>
                  
<body>
 <style>
            body  {
                   
                   background-image: url("/img/ePayBankBlue3.png");
                   background-color: #cccccc;
                   background-repeat: no-repeat;
                   background-size:  100% 95%;
                  }
         </style> 
<!--<div class="jumbotron text-center">
  <h2>My First Bootstrap Page</h2>
  <p>Resize this responsive page to see the effect!Lorem ipsum dolor sit amet, consectetur adipisicing elit...
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p> 
</div> -->
 <section class="creative_feature_area">
    <div class="container-fluid", style="margin-top:850px">
    <div class="c_feature_box">
        <div class="col-sm-12">
  <div class="row">
    <div class="col-sm-3" style="text-align:center">
       
        <div class="c_box_item" style="text-align:center">

    </div>

    <h3>Clients</h3>   
      <img src="../img/technologyservices.jpg" style="margin:auto; width:320px;display:block" />
      <p style="text-align:justify">  <br>
         <b> ChecksDigit Members Account Program and Data Processing Solutions are easy to use and 
          with the most advanced technology, are enough to handle the needs of your business. <a class="more_btn" href="../clients">Get Start</a></b>
     </p> 
    </div>

    <div class="col-sm-3">
        <div class="c_box_item" style="text-align:center">
      <h3> Partners</h3>  
      <img src="../img/partner2.png" style="margin:auto; width:430px;display:block" />
      <p style="text-align:justify">    <br>                             
      <b>There are three ways in making money with us; One is to use our Solutions as members do. 
      Two is to become a Partner.Three is as an Aggregator utilizing our secure payment portal. <a class="more_btn" href="../partners">Get Start</a></b> 
      </p>
      </p>
     </div>
    </div>
    <div class="col-sm-3" >       
        <div class="c_box_item" style="text-align:left">   
           <div class="c_box_item" style="text-align:center"> <h3>Security </h3> </div>
      <img src="../img/CustomerService.jpg" style="margin:auto; width:320px;display:block" /> 
      <div class="col-sm-12 text-left" style="padding-top:0em;"></div>
                                    <ul style="list-style:dot">
                                        <li>Increased Sales</li>
                                        <li>Reduced Fraud</li>
                                        <li>Heightened Security</li>
                                        <li>Safe, Smart & Simple</li>
                                    </ul>  
       </div>  
      <p style="text-align:justify" >
        <b>Our Compliance System is divided into three action levels: Prevent, Detect, and Respond. <a class="more_btn" href="../securitycenter">Learn More</a> </b>
      </p>      
    </div>
  </div>
</div>
</div>
</div>
</section> 
</body>
</html>
              {{>footer}}