<html lang="en">
<head>
    
    <title>HTML FlexBox -  Two percentage columns and one larger, left content</title>
    <!--<link rel="stylesheet" href="/css/styles.css">  
            <script src="../public/js/form.js"></script>
                           {{>header}} -->
       
            
            <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">    
    <meta name="generator" content="HAPedit 3.1">

  <head/>  
    
    
    <style type="text/css">
    
                                                    
                                                                      
        html, body {
            margin: 0;
            padding: 0;
        }

        body {
            color: #292929;
            font: 90% Roboto, Arial, sans-serif;
            font-weight: 300;
            background-color: #DCCA98;
            margin-top:0px
        }

        p {
            padding: 0 10px;
            line-height: 1.8;
        }

        ul li {
            padding-right: 10px;
            line-height: 1.6;
        }

        h3 {
            padding: 5px 20px;
            margin: 0;
        }

        div#header {
            position: relative;
        }

        div#header h1 {
            height: 80px;
            line-height: 80px;
            margin: 0;
            padding-left: 10px;
            background: #e0e0e0;
            color: #292929;
        }

        div#header a {
            position: absolute;
            right: 0;
            top: 23px;
            padding: 10px;
            color: #006;
        }

        div#navigation {
            background: #7cb71c;
        }

        div#navigation li {
            list-style: circle;
        }

        div#extra {
            background: #147FA9;
        }

        div#footer {
            background: #42444e;
            color: #fff;
        }

        div#footer p {
            padding: 20px 10px;
        }

        div#wrapper {
            float: left;
            width: 50%;
            background-color: white;
        }

        div#navigation {
            float: right;
            width: 49.9%;
        }

        div#extra {
            clear: both;
            width: 100%;
        }
    </style>
</head>
 
<body>

                                                  
<div id="container">
   
    <div id="header">
       <h1>Something You Should Know</h1>
        <a href="/" target="_blank">Go Back</a>
       
        
    </div>
    <div id="wrapper">
        <img src="../img/security21.png" style="margin-left:30px;  width:750px;display:block" />
        <div id="content">
         <style>
img {
  float: right;
}
</style>  
            <H3><strong>1. Online Security </strong></H3> <hr/>
            <h3>Online Transaction Security </h3>
            <p>
                Check4DigiPay is serious about safeguarding your personal information online. As a security measure, you may access your 
                account information online from the Check4DigitPay website only if you have registered with Check4DigiPay Online. Check4DigiPay Online 
                Transaction uses Secure Socket Layer (SSL) technology to encrypt your personal information such as User Ids, Passwords, and 
                account information over the internet. Any information provided to you is scrambled and decoded once it reaches your browser.
            </p> 
            <p>
            </p> <hr/>
            <h3>Your Private Information</h3> 
            <p>
                Information you provide via electronic forms on the Check4DigiPay website is secure and encrypted in most instances. In other words, 
                it is scrambled en route and decoded once it reaches Check4DigiPay. You may check that your web session is secure by looking for a 
                small lock symbol usually located in the lower corner of your web browser window. Current versions of leading web browsers indicate
                when a web page is encrypted 
                for transmission through this symbol. You may also look for the letters 
                "https://" at the beginning of your website URL in your web browser. The "s" means that the web connection is secure.
            </p> <hr/>
                  <h3>Minimum System Requirment for Using our Check4digiPay Data Processing </h3>  <hr/>
                  <P>If your browser does not meet the requirements necessary to support Check2Pay, we'll tell you how you can update your browser 
                      when you log on to Check4DigiPay Online.</P>  

                      <img src="../img/computer-pen.png" style="margin-right:50px;  width:450px;display:block" > 
          <div>
              <p>
                    Windows Operating System
              </p>
          <ul>
            <li>Windows XP, Windows Vista and higher</li>
            <li>Internet Explorer 7 and higher</li>
            <li>Firefox 3.0 and higher, Chrome 12 and higher</li>
         </ul>
                 <p>
                    Macintosh Operating System
                 </p>
          <ul>
            <li>Mac OS-X Tiger, Leopard and Snow Leopard</li>
          </ul> <hr/>
               <p> 
                   Viewing Check4DigiPay Online
               </p> 
              
          <ul>
               <li>Internet access</li> 
               <li>A browser that supports 128-bit strong encryption, such as Microsoft® Internet Explorer,
                                                        Mozilla Firefox, Safari or Google Chrome.</li>
               <li>Send e-mail asking you to reply by sending personal information.</li>
         </ul> 
          </div>

        </div>
    </div>
    <div id="navigation">
        <img src="../img/ePayBankDigi.png" style="margin-right:60px; width:900px;display:block" />
        <p><strong>2. I Received a Suspicious E-mail</strong></p>
        <p>
               If you think you've received a fraudulent e-mail, but you haven't acted on it: Please forward	
                                                    it to <a href="mailto:abuse@chase.com">risk@check4digipay.com</a> so we can investigate it for you.
                                                    <br /><br />
                                                    Report Fraud by Phone: <span class="text-primary">1-855-256-4032</span> Report Fraud by Email: 
                                                    <a href="mailto:abuse@chase.com">risk@check4digipay.com</a>
            </p>
        <h3>I Think I'm a Victim of Fraud</h3>
        <p>
                                                    If you're worried that you might have inadvertently compromised your Check2Pay account:	
                                                    It's important you speak with us immediately. The sooner we know what's happened, the	
                                                    sooner we can begin helping you. Please call us now!<br />
                                                    This includes:
                                                </p> ,<br>
        <ul style="list-style:dot">
            <li><b>1. </b>Checking or Savings Account Number</li>
            <li><b>2. </b>Bank Information</li>
            <li><b>3. </b>PII (Personal Identifiable Information) – such as Social Security or Tax ID Number</li>
            <li><b>4. </b>Check4DigiPay.com logon information – User ID's or passwords</li>
            <li><b>5. </b>PLease Call Us</li>
        </ul>
        <h3>Don't be fooled by an imposter</h3> <hr/>
            <P>Security Center Tip: Phishing (pronounced "fishing") is a type of criminal activity that uses fraudulent techniques to obtain sensitive personal information 
                (such as passwords, account numbers, PINs, Social Security numbers and other account information). By pretending to be a trustworthy person or business 
                in a seemingly official electronic communication like an e-mail, criminals use sophisticated lures to "fish" for users' passwords and personal or account 
                information.</P> 
                <br>  
                <hr/>
                <H3>Don't fall for something that sounds too good to be true</H3> 
        <ul>
            <li><b>1. </b>  Asks you to provide your account information because someone wants to transfer money to you</li>
            <li><b>2. </b>  Asks you to provide your account information because someone wants to transfer money to you</li>
            <li><b>3. </b>  Informs you that you have won a contest</li>
             
        </ul>
    </div>
    <div id="extra">
        <p><strong></strong></p>
        <h3>3. Don't adopt a pet password</h3> <hr/>
        <p>It's absolutely critical that you use a highly secure password for all of your financial accounts. Never use your pet's name, 
            your child's name or anything else that a fraudster could easily find out. The most secure passwords are a combination of letters and numbers.</p>
        <ul>
            <li>Make your password long !</li>
            <li>Make your Password a Nonsense Phrase !</li>
            <li>Include number, sysmbols, and uppercase and lowercase letters !</li>
            <li>Do not reuse passwords !</li>
        </ul>
    </div>
    <div id="footer"><p>Created by Axson Engineering, Jason Liang</p>
    </div>
</div>
<script type="text/javascript">AddFillerLink("content", "navigation", "extra")</script>
</body>
</html>
