<header>

<h1>{{title}}</h1>

   <h2>

    <a href="/">ChecksDigit</a>
    <a href="/about">About</a>
    <a href="/help">Support</a>
    <a href="/clients">Clients</a>
   
    <a href="/partners">Partners</a>
    <a href="/benefits">Benefits</a>
    <a href="/compliance">Compliance</a>
    <a href="/securitycenter">Security Center</a>
    <a href="/login">Login</a>
    <a href="/MerchantRegisterForm">Sign Up</a>
    
       
  </h2> 

            
</header>
