<header>

<h1>{{title}}</h1>

   <h2>

    <a href="/">ChecksDigit</a>
    <a href="/about">About</a>
    <a href="/help">Support</a>
    <a href="/clients">Clients</a>
   
    <a href="/partners">Partners</a>
    <a href="/benefits">Benefits</a>
    <a href="/compliance">Compliance</a>
    <a href="/securitycenter">Security Center</a>
    <a href="/login">Login</a>
    <a href="/merchantregisterform">Sign Up</a>
    
       
  </h2> 

  <!--  <nav class = "navbar navbar-expand-md navbar-light bg-info">
           <div class="container">
               <a class = "navbar-brand" href="#">Navbar</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class = "nav-link" href="#">Home</a>
                </li>
                <li>
                    <a class = "nav-link" href="#">About</a>
                </li>
                <li>
                    <a class = "nav-link" href="#">Services</a>
                </li>
                <li>
                    <a class = "nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
            
</header>--->
