 
body {
  background: lightblue;
  padding-top: 50px;
}

.content {
  max-width: 2000;
  margin: auto;
  background: white;
  padding: 10px;
}
 


.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}



footer { 
               
    columns: #888888;
    Border-top:1px solid #b4afaf;
    margin-top:16px;
    padding: 16p x 0;
    margin-left: 30;
    text-align: center;

  }