
            body  {
                   background-image: url("../img/thunderbirds.png");                       
                 
                   background-repeat: no-repeat;
                   background-size:  100% auto;
                 
                    padding-top: 50px;
                
                }

              footer { 
               
                columns: #888888;
                Border-top:1px solid #b4afaf;
                margin-top:16px;
                padding: 16p x 0;
                margin-left: 30;
                text-align: center;

              }